html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    display: flex;
}

button {
    display: block;
    background: inherit;
    border: 1px solid #4d4d4f;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
}

button:hover {
    background: #989ee3;
}

main {
    flex: 75;
    justify-content: center; 
    align-items: center;
    height: 100%;
    padding: 20px;
}

#sidebar {
    background: #a9aee1;
    flex: 25;
}

.sidebar-controls {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
}

.search-note {
    flex: 80;
    border: 1px solid #4d4d4f;
    border-radius: 5px;
    padding: 15px;
}

.new-note {
    flex: 1;
    font-size: 20px;
}

.note-list,
.note-list li{
    list-style: none;
    list-style-type: none;
    margin: 15px;
    padding: 0;
}

.note-list li{
    position: relative;
}

.note-list li > button{
    width: 100%;
    border: none;
    font-size: 17px;
}

.edit-buttons {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
}

.note-list li:hover .edit-buttons{
    display: flex;
}

.edit-buttons button {
    border: none;
}

.note-item.active {
    background: #989ee3 
}

textarea {
    width: 90%; 
    height: 80%; 
    background: transparent; 
    border: none; 
    outline: none; 
    resize: none; 
    color: inherit; 
    font-size: inherit; 
    font-family: inherit; 
    padding: 10px; 
    box-sizing: border-box; 
}